.cbx {
  --cbx-width: 12px;
  position: relative;
}

.cbx input {
  visibility: hidden;
  transition: 0.5s ease;
}

.cbx input:before {
  visibility: visible;
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: var(--cbx-width);
  height: var(--cbx-width);
  border: 2px solid #262626;
  transition: 0.5s;
}

.cbx input:checked:before {
  border-color: #339d50;
  border-left: none;
  border-top: none;
  width: calc(var(--cbx-width) / 2);
  transform: rotate(45deg) translate(1px, -3px);
}
